body{
	background-color:#fff;
	font-family:"Helvetica", "Arial";
	font-size:10px;
}

#container{
	border:2px solid #bbb;
	width:800px;
	height:800px;
	background-color:#bbb;
	margin: 20px auto;
	border:2px solid #f55;
}

#click{
	font-size:1.2em;
	padding:5px;
	width:150px;
	position:fixed;
	top:10px;
	left:0px;
	background-color:#f55;
	color: #fff;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
